---
# Variables applicable to all SCs

java_iface: em1

##################################################################
#
# VLAN configuration
#
# Note : Configuration on child/childre overrides the parent's
#

vlan_iface: em2
vlan_gw: 172.33.255.254
vlan_tag: 1000

